* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #a9714b;
}

p {
  font-family: "Roboto", sans-serif;
}

/* Nav bar */
header {
  border-bottom: solid black 4px;
}

.main-header {
  position: fixed;
  z-index: 100;
  width: 100vw;
  background: #262a10;
  padding: 10px;
  font-family: "Pattaya", sans-serif;
}

.main-nav {
  font-family: "Pattaya", sans-serif;
}

.header-list li {
  display: inline-block;
}

.cta {
  background: orange;
  padding: 4px;
  border-radius: 8px;
  border: solid black 2px;
  border-bottom: none;
}

.cta:hover {
  background: white;
  color: orange;
}

.header-list a {
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  margin: 8px;
  color: white;
}

.nav-sides:hover {
  color: orange;
  border-bottom: solid black 3px;
}

.badge:hover {
  color: orange;
}

/* End Nav */
/* Welcome Section */
.Header {
  position: relative;
}

.overlay {
  max-width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  position: absolute;
  z-index: 100;
}

.welcome > h2 {
  font-family: "Oswald", sans-serif;
}

.welcome {
  position: absolute;
  top: 100px;
  width: 320px;
  left: 450px;
  font-size: 20px;
  color: white;
  border: solid black 6px;
  padding: 10px;
  border-radius: 10px;
  background: #262a10;
}
/* End Header */

/* Welcome background */
img {
  background-size: cover;
  width: 100%;
}

.specials-background {
  max-width: 480px;
  height: 500px;
  max-width: 100%;
  z-index: 0;
}

.regular-background {
  border-bottom: solid black 2px;
}

.cover {
  background-color: black;
}
/* End Welcome */

/* Sides */

.sides img {
  border: solid 2px black;
  height: 200px;
  background-image: cover;
}

.sides h2 a {
  margin: 14px;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  border-bottom: solid black 4px;
  color: orange;
}

.sides h2 {
  border-radius: 10px;
  margin: 8px;
  width: 148px;
}

.sides {
  vertical-align: top;
}

.sides p {
  background-color: #262a10;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  border: solid black 2px;
}

.sides a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.sides {
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 250px;
  height: 100%;
  align-items: center;
  background: #54442b;
  display: inline-block;
  align-content: center;
}

.sides h2 a:hover {
  color: black;
  background: orange;
  padding: 8px;
  border-radius: 15px;
}
/* End Sides */

/* Footer */
footer {
  z-index: 100;
  background-color: #262a10;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End footer */
